# 1. สร้าง function ชื่อ smartDict ซึ่งทำหน้าที่
#### - function รับ input เป็น list 2 ตัวที่มีขนาดเท่ากัน โดย list แรกเป็น list ของตัวเลข list ที่สองเป็น list ของ text 
#### - ถ้าค่าใน list เป็นเลขคู่ ให้ค่าใน dict เป็น output มี key เป็นค่าจาก list ตัวที่1 และ value จาก list ตัวที่ 2 
#### - ถ้าค่าใน list เป็นเลขคี่ ให้ค่าใน dict เป็น output มี key เป็นค่าจาก list ตัวที่2 และ value จาก list ตัวที่ 1 
#### - output ของ function คือ dict ที่สร้างขึ้น

In [78]:
def smartDict (listnumber,listtext,logicV) :
    if logicV:  
        retdict = {}
        for index in  range (len(listtext)): 
            retdict[listtext[index]] = listnumber [index] 
    else:
        retdict = {}
        for index in range (len(listtext)): 
            retdict[listnumber[index]] = listtext[index] 
            
    return retdict

In [139]:
smartDict( [ 1 , 'banana' , 3 ] , [ 'apple' , 2 , 'orange' ] , False )

{1: 'apple', 'banana': 2, 3: 'orange'}

# 2. จากไฟล์ Wuhan_nCoV_GNome.txt จงเขียนโปรแกรมเพื่อตอบคำถามต่อไปนี้
#### - กรดอะมิโนใด (A, T, G, C) มีปริมาณมากที่สุดและมีเท่าไหร่
#### - จงหา sequence ที่มีขนาด 3 และ 4ที่เกิดขึ้นซ้ำมากที่สุด

In [172]:
import pandas as pd

In [173]:
Wuhandata = pandas.read_csv ('C:\\Users\\GTCOM\\Downloads\\Wuhan_nCoV_GNome.txt',header = None)
Wuhandata

                                                     0
0    ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
1    CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...
2    TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...
3    TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...
4    CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...
..                                                 ...
423  GTGCAGAATGAATTCTCGTAACTACATAGCACAAGTAGATGTAGTT...
424  TTAATCAGTGTGTAACATTAGGGAGGACTTGAAAGAGCCACCACAT...
425  GATCGAGTGTACAGTGAACAATGCTAGGGAGAGCTGCCTATATGGA...
426  TTTAGTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAGAA...
427                                      AAAAAAAAAAAAA

[428 rows x 1 columns]

In [174]:
Wuhandata.head () #ดูหัวตารางข้างบน

                                                   0
0  ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
1  CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...
2  TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...
3  TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...
4  CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...

In [175]:
len('ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAA')

70

In [176]:
Wuhandata.shape

(428, 1)

In [177]:
Wuhandata.iloc[1][0]

'CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTGCACTCACGCAGTATAATTAATAAC'

In [178]:
DNAlong = 0
for row in range (Wuhandata.shape[0]):
    DNAlong = DNAlong + len(Wuhandata.iloc[row][0])
print (f'sequence is {DNAlong} characters long')

sequence is 29903 characters long

# 3. จากไฟล์ data.xlsx สร้างตาราง
#### - ใหม่ที่ 2 columns โดย columns แรกชื่อว่า ภาษาอีสาน และมีค่าใน columns เป็นค่า จาก columns ภาษาอีสานเดิมแต่เปลี่ยน ค่าที่เป็น คำที่เป็น '/' เป็น ','
#### - สร้างตาราง Dictionary โดยตารางประกอบด้วยสอง columns คือ ภาษาอีสาน และ ภาษาไทย โดยค่าใน columns ภาษาอีสาน คือคำในภาษาอีสาน และ columns คือคำแปลเป็นภาษากลางของภาษาอีสานใน columns แรก (ใช้ค่าจากตาราง data.xlsx โดยคำที่อยู่ในลำดับเดียวกันของ columns ภาษาอีสาน และ ภาษาไทย คือคำแปลของกันและกัน ถ้าจำนวนค่าทั้งสอง columns เท่ากัน - ถ้าจำนวนค่าระหว่างสอง columns ไม่เท่ากันให้ข้าม record นั้นไป)

In [82]:
import pandas as pd

In [83]:
L = ['ภาษาอีสาน' , 'ภาษาไทย']
Data = pd.DataFrame.from_records([],columns = L)
for i in range(32):
    df = pd.read_excel('C://Users//GTCOM//Downloads//data (1).xlsx', sheet_name = i, usecols = 'B:C', skipfooter = 1)
    Data = pd.concat([Data,df], axis = 0, ignore_index = True)

In [84]:
Data

,ภาษาอีสาน,ภาษาไทย
0,สวัสดี/สุผู้สุคน/เด้อ/จ้า,สวัสดี/ทุก ๆ คน/นะ/คะ
1,กิน/ข้าว/ก่อน/เด้อ/จ้า/ ไผ/สิ/ถ่า/เค้า/ดาวน์,กิน/ข้าว/ก่อน/นะ/จ้ะ/ใคร/จะ/รอ/เค้า/ดาวน์
2,เค้า/ดาว/กะ/ขอ/ให้/เค้า/ดาว/อย่าง/มี/ความ/สุข/...,เค้า/ดาวน์/ก็/ขอ/ให้/เค้า/ดาน์/อย่าง/มี/ความ/ส...
3,นี่/จ้า/อา/หาร/เย็น/เป็น/ลา/ซาน/ย่า/กับ/ผัก/สด...,นี่/จ้า/อา/หาร/เย็น/เป็น/ลา/ซาน/ย่า/กับ/ผัก/สด...
4,ขอ/ให้/เชิญ/แซ่บ/เด้อ/พี่/น้อง,ขอ/ให้/เชิญ/อร่อย/นะ/ทุก/คน
...,...,...
970,นั่น/แหละ/คุย/กัน/ไป่/อูย/คุย/กัน/ไป่/เป็น/ปี/...,นั้น/แหละ/คุย/กัน/ไป/อูย/คุย/กัน/ไป/เป็น/ปี/อย...
971,กะ/เล๊ย/แบบ/ชี/วิต/ชวง/นั่น/แบบ/สิ/เอา/จัง/ได๋...,ก็/เลย/แบบ/ชี/วิต/ช่วง/นั้น/แบบ/จะ/เอา/ยัง/ไง/...
972,เส็ด/แล่ว/กะ/เล๊ย/อ่า/เพิ่น/เซิน/ปะ/เออ/เซิน/ม...,เสร็จ/แล้ว/ก็/เลย/อ่า/เขา/เชิญ/ปะ/เออ/เชิญ/มา/...
973,ซวง/นั่น/ข่อย/กะ/เขว/เนาะ/จ้า/สิ/ไป่/ตอ/หรือ/ส...,ช่วง/นั้น/ฉัน/ก็/เคว้ง/อ่ะ/ค่ะ/จะ/ไป/ต่อ/หรือ/...
974,ข่อย/กะ/เล๊ย/ตัด/สิน/ใจ/กั๊บ/มู/หว่า/เออ/ข่อย/...,ฉัน/ก็/เลย/ตัด/สิน/ใจ/กับ/เพื่อน/ว่า/เออ/ฉัน/จ...

In [126]:
Data0 = Data.iloc[0]['ภาษาอีสาน'].replace("/", ",")

In [127]:
Data0

'สวัสดี,สุผู้สุคน,เด้อ,จ้า'

In [135]:
Data00 = Data0 + Data.iloc[0]['ภาษาไทย'].replace("/", ",")

In [136]:
Data00

'สวัสดี,สุผู้สุคน,เด้อ,จ้าสวัสดี,ทุก ๆ คน,นะ,คะ'

In [180]:
def splitstr(col1):
    co1 = col1.split('/')
    return co1

In [181]:
splitstr(data1_df.iloc[0,1])

['สวัสดี', 'สุผู้สุคน', 'เด้อ', 'จ้า']

In [182]:
list_11 = []
list_22 = []
for i in range(0,7):
    list_11 += splitstr(data1_df.iloc[i,1])
    list_22 += splitstr(data1_df.iloc[i,2])

In [169]:
def google(col1,col2):
    str = f'{col1} แปลว่า {col2}'
    return str

In [170]:
sum = []
for i in range(len(list_11)):
    oil+= [google(list_11[i],list_22[i])]

In [161]:
list_11[1]

'สุผู้สุคน'

In [163]:
Usum = set(oil)
Usum

{' ไผ แปลว่า ใคร',
 'กะ แปลว่า ก็',
 'กับ แปลว่า กับ',
 'กิน แปลว่า กิน',
 'ก่อน แปลว่า ก่อน',
 'ขอ แปลว่า ขอ',
 'ข้าว แปลว่า ข้าว',
 'ความ แปลว่า ความ',
 'จ้ะ แปลว่า จ้ะ',
 'จ้า แปลว่า คะ',
 'จ้า แปลว่า จ้ะ',
 'จ้า แปลว่า จ้า',
 'ซาน แปลว่า ซาน',
 'ดาว แปลว่า ดาน์',
 'ดาว แปลว่า ดาวน์',
 'ดาวน์ แปลว่า ดาวน์',
 'ถ่า แปลว่า รอ',
 'ธิว แปลว่า ธิว',
 'นะ แปลว่า นะ',
 'นี่ แปลว่า นี่',
 'น้อง แปลว่า คน',
 'บอก แปลว่า บอก',
 'ผัก แปลว่า ผัก',
 'พี่ แปลว่า ทุก',
 'พึ่ง แปลว่า พึ่ง',
 'มี แปลว่า มี',
 'ย่า แปลว่า ย่า',
 'ลา แปลว่า ลา',
 'ว่า แปลว่า ว่า',
 'สด แปลว่า สด',
 'สวัสดี แปลว่า สวัสดี',
 'สิ แปลว่า จะ',
 'สุข แปลว่า สุข',
 'สุผู้สุคน แปลว่า ทุก ๆ คน',
 'หลับ แปลว่า หลับ',
 'หาร แปลว่า หาร',
 'อย่า แปลว่า อย่า',
 'อย่าง แปลว่า อย่าง',
 'อา แปลว่า อา',
 'อี แปลว่า คุณ',
 'เค้า แปลว่า เค้า',
 'เงียบ แปลว่า เงียบ',
 'เชิญ แปลว่า เชิญ',
 'เด้อ แปลว่า นะ',
 'เป็น แปลว่า เป็น',
 'เย็น แปลว่า เย็น',
 'แซ่บ แปลว่า อร่อย',
 'แมท แปลว่า แมท',
 'แม่ แปลว่า แม่',
 'แฮงจัด แปลว่า มาก ๆ',
 'ให้ แปลว่า ให้'}